<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Todo List App
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" sizes="48x48" href={{ asset('favicon-48x48.png')}}>
		<link
		rel="icon" type="image/png" sizes="96x96" href={{ asset('favicon-96x96.png')}}>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<!-- Main Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark  mb-5" style="background-color: #27333A;">
			<div class="container-fluid">
				<a class="navbar-brand" href={{ path('app_todo_list_all') }}>
					<i class="fas fa-list-check" style="color: #ffffff;"></i>
					Todo List App
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" style="margin-top: 20px;">Username</a>
						</li>
						<!-- Not Authenticated -->
						<!-- <li class="nav-item"><button href="#" class="btn btn-primary btn-sm">Login</button></li> -->
						<!-- End Not Authenticated -->

						<!-- If Authenticated -->
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-user-astronaut p-2" style="border: solid 1px #fff; border-radius: 50px; font-size: 40px;"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item" href="#">My Lists</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Logout</a>
								</li>
							</ul>
						</li>
						<!-- End If Authenticated -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Main Navigation -->

		{% block body %}{% endblock %}

		<!-- Footer -->
		<div class="container mt-5">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<span class="me-1" style="color: red;">
						<i class="fas fa-heart"></i>
					</span>
					<span class=" me-1">All rights reserved.</span>
				</div>

				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex white">
					<li class="ms-3">
						<a target="_blank" href="https://github.com/salmabenhadjali">
							By Salma BHA
							<i class="fa-brands fa-github" style="color: #ffffff;"></i>
						</a>
					</li>
				</ul>
			</footer>
		</div>
		<!-- End Footer -->

	</body>
</html>
